.vscode/launch.json
.vscode/settings.json
src/res/temp.sql
src/res/img/letter-ab-finance-modern-logo-design-vector-27280629.xcf
src/res/img/logo_nitido.xcf
src/prgettoTRM.odt
AzureBits_DB.sql
src/main/progetto.txt
